/* Media query */

@media (max-width: 1200px) {
    /* styling shop
    .shop-grid-products {
    grid-template-columns: 1fr 1fr;
    }*/
    /*styling specific product*/
    .product-information ul{ 
        padding-bottom: 10px;
    }
    .product-size { 
        padding-bottom: 30px;
    }
}

@media (max-width: 1080px) {
    /* styling checkout*/
    .grid-checkout {
    grid-template-columns: 1fr;
    padding-left: 30px;
    padding-top: 0px;
    }
    .shipping-payment { 
        padding-top: 20px;
        padding-left: 0px;
    }
    .payment-method { 
        padding-top: 10px;
    }
}

@media (max-width: 820px) {
    /* styling hamburger menu*/
    nav,
    #menu-checkbox {
    display: none;
    }
    .hamburger-icon {
    display:block;
    padding-top: 22px;
    }
    #menu-checkbox:checked ~ nav {
    display: block;
    position: absolute;
    top:80px;
    right: 0px;
    padding-right: 20px;
    background-color: #fff;
    text-align: right;
    width:50%;
    z-index: 1;
    animation: ease-in-out;
    height: 100%;
    }
    nav a {
    display: block;
    padding: 10px;
    }

    /* styling header*/
    .logo-header {
    flex: 1;    
    }
    .shoppingbag-mobile {
    display: block;
    padding-top: 14px;
    padding-right: 20px;
    }
    .shoppingbag-desktop {
    display: none; 
    }

    /* styling shop*/
    .shop-grid-products {
    grid-template-columns: 1fr;
    }
}

@media (max-width: 660px) {
    /* styling homepage*/
    .hero-home-h1 {
        font-size: 3rem;
    }
    .newsletter-h2 {
        font-size: 1.75rem;
    }

    /*styling footer*/
    footer {
        min-height: 200px;
    } 
    footer p{
        font-size: 1rem;
    }    
    .footer-nav ul{
        font-size: 0.875rem;
    } 
    .footer-some-icons {
        height: 20px;
    }
    .footer-logo img{
        width: 110px;
    }

    /* styling specific product*/
    .product-pictures{
       width: 400px;
    }
    .large-view{
        width: 400px;
    }
    .large-view-picture{
        width: 400px;
    }
    .small-view {
        width: 400px;
        height: 110px;
    }
    .small-view-container {
        height: 140px;
        width: 120px;
    }
}

@media (max-width: 460px) {
    /*global styles*/
    header,
    footer {
    margin: 0px 10px;
    }

    /* styling header*/
    .logo-header img{
        width: 90px;
        padding-top: 10px;
        }

    /*styling footer*/
    footer {
        min-height: 150px;
    } 
    .footer-logo img{
        width: 80px;
    }
    footer p{
        font-size: 0.8rem;
    }    
    .footer-nav ul{
        font-size: 0.75rem;
    } 

    /*styling homepage*/
    .hero-home-h1 {
        font-size: 1.5rem;
    }
    .hero-home {
        background-image: url("../images/home/hero-image-mobile.jpg");
        height: 400px;
    }
    .hero-home-cta {
        top: 130px;
        width: 99%;
    }
    .discover-h2 {
        font-size: 1.5rem;
    }
    .discover-column img { 
        width: 290px;
    }
    .newsletter {
        background-image: url(../images/home/newsletter-img-mobile.jpg);
        height: 500px;
    }
    .newsletter-h2 {
        font-size: 1.25rem;
    }
    .newsletter-cta {
        padding-top: 150px;
    }
    .newsletter-field {
    width: 150px;
    }

    /*styling shop*/
    .shop-selection h2 {
    font-size: 1rem;
    }
    .product-card { 
    padding-top: 0px;
    width: 300px;
    height: 450px;
    }
    .background-design { 
    width: 300px;
    height: 450px;
    }
     .product-card img { 
    width: 290px;
    }

    /*styling about*/
    .hero-about {
    background-image: none;
    }
    .hero-about-text {
    padding:0;
    }
    .about-img-mobile {
    display:block;
    text-align: center;
    }
    .hero-about h1{
    font-size: 2rem;
    text-align: center;
    }
    .hero-about p{
    padding-left: 20px;
    }
    .hero-about .p-bold {
    color: #000;
    }

    /*styling contact*/
    .contact-picture img {
    display: none;
    }
    .contact-picture-mobile img {
    display: block;
    width: 390px;
    }
    .contact-information {
    padding: 0 0 0 20px;
    }
    .contact-row {
    gap: 10px;
    }
    .contact-column textarea {
        height: 150px;
        width: 358px;
    }
    .contact-column input {
        width: 168px;
    }
    .submit-btn {
        margin-right: 18px;
    }

    /*styling specific product*/
    .product-pictures{
        width: 350px;
     }
    .large-view{
        width: 350px;
    }
    .large-view-picture{
        width: 350px;
    }
    .small-view {
        width: 350px;
    }
    .small-view-container {
        height: 120px;
        width: 100px;
    }
    .product-size { 
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }
    .product-size-left { 
        gap: 5px;
    }
    .product-size-right { 
        padding-bottom: 20px;
        text-align: start;
    }

    /*styling checkout*/
    .grid-checkout { 
        padding-left: 10px;
        padding-top: 0px;
    }
    .summary-padding {
        padding-top: 1rem; 
    }
    .product-img-bag { 
        height: 80px;
    }
    .shipping-payment { 
        padding-top:10px;
    }
    .shipping-payment input {
        width: 170px;
    }

    /*styling checkout success*/
    .content-box { 
        border:none;
        height: 70%;
    }
    .checkout-success { 
        padding:0;
        margin: 0;
    }
    .img-success { 
        padding-top: 50px;
    }
    
    .p-shipping { 
        padding-top: 50px;
    }
    .payment-cta-right { 
        padding-left: 10px;
    }
}
