/* Styling global/general
----------------------------------------*/

header,
footer {
    background-color: #fff;
    color: black;
    font-family: 'Questrial', sans-serif;
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

h4 {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

p {
    font-family: 'Hind Siliguri', sans-serif;
}

/* Styling header
----------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0, auto;
    padding: 30px;
    text-transform: uppercase;
    height: 0px;
}

.logo-header {
    padding: 0px 0px;
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

nav {
    background-color: #fff;
    color: black;

}

nav a {
    display: block;
    color: black;
    padding: 20px;
    font-size: 22px;

}

.shoppingbag {
    padding: 14px 50px;
}

/* Styling footer
----------------------------------------*/
footer {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0, auto;
    padding: 50px;
    height: 0px;
}

.footer-nav {
    align-self: flex-start;
    align-items: baseline;
    align-content: flex-start;
} 
   
.logo-footer {
    align-self: center;
    align-items: baseline;
    align-content: center;
}

.footer-nav-some {
    text-align: end;
}

/* Styling homepage
----------------------------------------*/

.hero {
    background-image: url("../images/home/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-size: 65px;
    color: #fff;
    text-align:end;
}

.discover {
    display: grid;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

.newsletter {
    background-image: url(../images/home/newsletter-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
}

/* Media query
-------------------------------*/

@media (min-width: 700px) {
    nav {
        display: block;
        position: static;
    }

    .hamburger-icon {
        display: none;
    }
    
    nav a {
        display: inline-block;
    }
}
 
/* Styling button
--------------------------------*/
.shop-now {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: #C22525;
}

.shop-now:hover {
    background-color: #9b1e1e;
}
