header,
footer {
    background-color: #fff;
    color: black;
    font-family: 'Questrial', sans-serif;
}
h1 {
    font-family: 'Fjalla One', sans-serif;
}
p {
    font-family: 'Hind Siliguri', sans-serif;
}